.wrapper {
    margin-top: 100px;
    margin-bottom: 80px;
}

.wrapper>div {
    grid-gap: 135px;
    display: flex;
    justify-content: center;
    margin-right: 13%;
}

.content {
    width: 450px;
}

.content h1 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 64px;
    color: #212B36;
}

.content>p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    height: 84px;
    color: #637381;
    margin-bottom: 60px;
}

.content>div {
    justify-content: start;
    grid-gap: 16px;
    margin-top: 10px;
}

#lastDiv {
    margin-bottom: 50px;
}

.content>button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 22px;
    background-color: white;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    color: #212B36;
    gap: 8px;

    width: 198px;
    height: 48px;
    border: 1px solid rgba(145, 158, 171, 0.32);
    border-radius: 8px;
}
.content > div{
    margin-top: 20px;
}

.contentD > button{
    background-color: #161C24;
    color: white;
}

@media (max-width: 768px) {
    .wrapper>div {
        width: 100%;
        display: block;
    }
    
.content b{
    margin: 0;
}
    .wrapper>div>div>img {
        width: 80%;
    }
    .content {
        width: 90%;
        margin: 0 auto;

    }

    .content h1,
    .content p {
        text-align: start;
    }

    .content h1 {
        margin-top: 75px;
        margin-bottom: 24px;
        font-size: 32px;
    }

    .content p {
        margin-bottom: 70px;
    }

    .content>div {
        font-family: 'Poppins' , sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 15px;
        text-align: start;
        display: flex;
        margin-top: 10px;
        justify-content: start;
    }
    .content > div > img{
        margin-bottom: 3px;
    }
    .content> div > b{
        
    }

}