.weProvide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.serv {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #919EAB;
    margin-bottom: 16px;
}

.prov {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #212B36;
    margin-bottom: 24px;
    margin-top: 16px;
}

.p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #637381;
    margin-bottom: 30px;
}

.services {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    margin-left: 3%;
}


.zero {
    box-shadow: -16px 16px 56px -8px rgba(145, 158, 171, 0.16);
    border-radius: 16px;
    padding: 50px 32px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 376px;
}

.zero,
.first,
.second,
.thirst {
    width: 264px;
    /* height: 424px; */
}

.zeroD,
.firstD,
.thirstD,
.secondD {
    background: #212B36;
    box-shadow: -24px 24px 72px -8px rgba(0, 0, 0, 0.24);
}

/* .zero:hover , .first:hover , .second:hover , .thirst:hover{
    height: 484px;
} */
.first {
    box-shadow: -16px 16px 56px -8px rgba(145, 158, 171, 0.16);
    border-radius: 16px;
    padding: 80px 32px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 424px;

}

.second {
    box-shadow: -24px 24px 72px -8px rgba(145, 158, 171, 0.24);
    border-radius: 16px;
    padding: 80px 32px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 484px;

}

.thirst {
    box-shadow: -4px 4px 24px rgba(145, 158, 171, 0.08);
    border-radius: 16px;
    padding: 80px 32px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 376px;

}

.services>a {
    text-decoration: none;
}

.h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #212B36;
    margin-bottom: -40px;
}

.p1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #637381;
    margin-top: 8px;
    margin-bottom: 0px;
}

.wrapper {
    margin: 120px 0;
}

@media (max-width: 768px) {
    .zero, .first ,.second , .thirst{
        width: 100%;
        margin-top: 32px;
    }
    p {
        margin: 0 auto;
    }

    b {
        margin: 0 auto;
    }

    h1 {
        margin: 0 auto;
    }
    .zero{
        margin-right: 0;
    }

    .prov {
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        margin-top: 0px;
    }

    .p {
        margin-bottom: 50px;
        width: 90%;
    }

    .weProvide br {
        display: none;
    }

    .services {
        display: block;
    }

    .services>div {
        width: 100%;
        margin-bottom: 32px;
    }

}