.container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
}

.content {
    display: grid;
    width: 30%;
    margin: 0 auto;
}

.content img {
    margin-top: 80px;
    margin-left: 42%;
    margin-bottom: 50px;
}

.wrapper {
    text-align: center;
    margin: 120px 0;
}

.wrapper p {
    margin: 0 auto;
    width: 470px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
}

.wrapper h1 {
    margin-bottom: 26px;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

.content b {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #212B36;
    margin-bottom: 20px;
}

.content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 300px;
    margin-left: 10%;
}