.left {
  display: flex;
  align-items: center;
  width: 45%;
  justify-content: space-between;
}
.left a {
  text-decoration: none;
  color: #637381;
}
.Right a {
  text-decoration: none;
  color: #212b36;
  font-family: "Poppins", sans-serif;
  margin: 0 20px;
  margin-right: 15px;
}
.Header_Centr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
.btn {
  background-color: #212b36;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  height: 36px;
  width: 90px;
  padding: Padding 6px, 16px, 6px, 16px;
  cursor: pointer;
  font-weight: 600;
}

.Pages {
  display: flex;
  justify-content: center;
}
.Pages a {
  color: #212b36;
  padding-left: 5px;
  padding-right: 5px;
}
.Pages {
  width: 20px;
  align-items: center;
}
.Right  img{
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
