.left {
  display: flex;
  align-items: center;
  width: 45%;
  justify-content: space-between;
}
.Header > div{
  padding-top: 0px;
}
.left a {
  text-decoration: none;
  color: #637381;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.Header_Centr a:hover {
  font-weight: 600;
  color: black;
}
.Header_Centr img:hover{
  cursor: pointer;
}
.btn:hover{
  background-color: #FA541C;
}

.Right a {
  text-decoration: none;
  color: #212b36;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.Header_Centr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22%;
  font-family: "Poppins", sans-serif;
}

.btn {
  background-color: #212b36;
  color: #ffffff;
  border-radius: 8px;
  height: 36px;
  width: 83px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border: none;
  font-weight: 600;
  font-size: 14px;
}

.Pages {
  display: flex;
  justify-content: center;
}

.Pages a {
  color: #212b36;
  padding-left: 5px;
  padding-right: 5px;
}

.Pages {
  width: 20px;
  align-items: center;
}

.Right {
  grid-gap: 20px;
}

.Right img:first-child {
  margin-right: 10px;
}

#burger {
  display: none;
}

.Header{
  padding-top: 20px;
}


.Header_dark a{
  color: #919EAB;
}
.Header_dark a:hover{
  color: white;
}
.Header_dark .btn{
  background-color: white;
  color: black;
}
@media (max-width: 768px) {
  .Header a:not(.logo > a) {  
    display: none;

  }
  #search1{
    display: none;
  }

  #burger {
    display: block;
    position: relative;
    left: 5px;
  }
  #search{
    display: block;
  }
  .Right img , .Right a , .Right button{
    display: none;
  }

  .Pages img {
    display: none;
  }
  
}