.brands {
    display: flex;
    justify-content: space-evenly;
}

.aboutUs {
    display: flex;
}

.rightAU {
    width: 50%;
}

.rightAU p {
    width: 399px;
    margin-left: 5%;
}

.leftAU {
    width: calc(50% - 100px);
    text-align: end;
    padding-right: 100px;
}

.leftAU p {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-left: auto;
    margin-bottom: 50px;
}
.leftAU button{
    border: none;
    background-color: white;
    color: #FA541C;
}
.leftAU h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

.flex {
    display: flex;
    align-items: center;
    margin-bottom: 15px ;
}

.static {
    width: 100px;
}

.static p {
    font-size: 12px;
    font-weight: 600;
    width: 100px;

}

#hr {
    border: 0px;
    background-color: #919EAB3D;
    width: 1px;
    height: 92px;
    margin: 0 30px;
}