.wrapper {
    margin-top: 160px;
    padding-bottom: 120px;
}

.case {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
}

.txt {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 86px;
    padding-left: 20px;
}

.txt>p {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #919EAB;
}

.txt>h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.box>img {
    padding: 6px;
}

img {
    border-radius: 16px;
}

.image {
    display: flex;
    align-self: flex-start;
}


.div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 24px;
    margin-bottom: 30px;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 564px;
    height: 372px;
    box-shadow: -24px 24px 72px -8px rgba(145, 158, 171, 0.24);
    gap: 30px;
}


.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.p {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FA541C;
}

.h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #212B36;
}

.disc {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #637381;
    margin-top: 16px;
}

.left,
.right {
    position: relative;
    align-self: center;
}


.wrapper>a {
    text-decoration: none;
    margin-left: 80%;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    color: #FA541C;
}

.wrapper>div {
    margin-bottom: 120px;
}

.kv,
.kv1 {
    position: relative;
}

.kv1 {
    display: flex;
    align-self: flex-start;
}

a {
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    color: #FA541C;
}

.arrow{
    display: flex;
    justify-content: end;
    padding-top: 131px;
}


