.main {
  width: 700px;
  display: block;
  margin: 0 auto;
  margin-top: -120px;
  padding-bottom: 00px;
}

.sliderButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 2;
}
.wrapper{
  margin-bottom: 120px;
}
.customPrevButton {
  left: -30%;
  margin-top: 15px;
}

.customNextButton {
  right: -30%;
  margin-top: 15px;



}


.feedback {
  margin-top: 190px;
  margin-bottom: 100px;
}

.feedback div p {
  color: #212B36;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  width: 500px;
  height: 108px;
}

.feedback h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #212B36;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 5px;
}

.feedback>p {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #637381;
  margin-top: -10px;
  text-align: right;
  margin-right: 18px;
}

.wrapper {
  background: #F9FAFB;
  text-align: center;
  height: 800px;
  padding-top: 50px;
}
.wrapperD{
  background: rgba(145, 158, 171, 0.12);
}
.feedback > div p{
  text-align: start;
}
.wrapper>div>p {
  padding-top: 100px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.wrapper>div>h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #212B36;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .wrapper>div>h1 {
    margin-top: 10px;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
  }
  .main{
    width: 100%;
  }

  .feedback {
    display: block;
    width: 100%;
    margin-top: 150px;
  }

  .sliderButton {
    display: none;
  }

  .feedback>div>p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    width: 90%;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
    text-align: center;
  }
  .feedback > h3{
    text-align: center;
  }
  .feedback > p{
    text-align: center;
    margin-top: 5px ;
    margin-left: 5%;
    margin-bottom: -80px;
  }

}