

.Main {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
  height: 100%;
  margin-bottom: 211px;
}


.Left {
  width: 35%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.digital {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #fa541c;
}

.Left h1 {
  font-size: 60px;
  margin-top: 21px;
  font-family: "Barlow", sans-serif;
}

.btn {
  width: 162px;
  height: 48px;
  border-radius: 8px;
  background-color: #fa541c;
  color: #ffff;
  border: none;
}
.btn:hover{
  background-color: black;
}
.free img{
  cursor: pointer;
}

.info {
  font-family: "Poppins", sans-serif;
  padding: 40px 0px 40px 0px;
  color: #637381;
  font-size: 16px;
  line-height: 28px;
  width: 81%;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-top: 40px;
  grid-gap: 20px;
}

.free {
  grid-gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.free a {
  width: 100px;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
}


.btnn {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
}

@media (max-width: 768px) {
  .Right  {
    display: none;
  }

  .Left {
    width: 100%;
    text-align: center;
  }

  .Left h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
  }
  .info {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 0px;
  }
  .bottom {
    width: 90%;
    margin: 0 auto;
  }
  

  .Main{
    margin-bottom: 120px;
  }
  
}