.Main {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
  height: 100%;
}

.Left {
  width: 35%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.digital {
  color: #fa541c;
}

.Left h1 {
  font-size: 60px;
  margin-top: 21px;
  color: #212b36;
  font-family: "Barlow", sans-serif;
}
.btn {
  width: 132px;
  height: 48px;
  border-radius: 8px;
  background-color: #fa541c;
  color: #ffff;
  border: none;
  padding: 11px 22px;
  font-family: "Poppins", sans-serif;
}
.info {
  font-family: "Poppins", sans-serif;
  padding: 40px 0px 40px 0px;
  color: #637381;
  font-size: 16px;
  line-height: 28px;
  width: 81%;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-top: 40px;
}
.free {
  display: flex;
  align-items: center;
  justify-content: center;
}
.free a {
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  color: #212b36;
}
