.container {
    background-image: url(../../assets/bg.png);
    width: 100%;
    background-size: cover;
    display: flex;
    height: 670px;
}

.container2 {
    display: flex;
}

.leftFoot a {
    display: flex;
    text-decoration: none;
    grid-gap: 10px;
    width: 330px;
    margin-top: -10px;
}

.leftFoot h1 {
    padding-top: 120px;
    padding-bottom: 270px;
    width: 450px;
    height: 160px;
    color: #FA541C;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
}
.socials{
    display: flex;
    gap: 15px;
    margin-bottom: 90px;
}
.leftFoot h1 hr {
    width: 0px;
    border: none;
}

.leftFoot a p {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.leftFoot a {
    margin-bottom: 20px;
}

.rightFoot input {
    border: none;
    width: 90%;
    height: 50px;
    background: rgba(145, 158, 171, 0.08);
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    padding: 5px 20px;
    margin-bottom: 20px;

    color: #919EAB;

}

.rightFoot {
    display: grid;
    margin-top: 170px;
    margin-left: 30%;
    width: 50%;
}

.rightFoot button {
    border: none;
    color: white;
    align-items: center;
    padding: 11px 22px;
    background: #FA541C;
    border-radius: 8px;
    width: 172px;
    height: 48px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
}


.inputFoot {
    width: 466px;
    height: 56px;
}

.inputFoot input {
    width: 350px;
    background: rgba(145, 158, 171, 0.08);
    border-radius: 8px 0px 0px 8px;
    height: 100%;
    padding-left: 12px;
    border: none;
}

.inputFoot button {
    border: none;
    width: 102px;
    height: 56px;
    background: #FA541C;
    color: white;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    border-radius: 0px 8px 8px 0px;
}

.wrapper {
    padding: 0 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9FAFB;
    height: 208px;
}

.wrapper p {
    margin-top: 10px;
}

.leftSocial {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftSocial p {
    margin: 30px 0;
    width: 250px;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.inputFoot2 {
    display: flex;
    margin-left: auto;
    padding-left: 10px;
}

.inputFoot2 button {
    background-color: #FA541C;
    width: 48px;
    border-radius: 8px;
    border: none;
    margin-left: 8px;
    height: 48px;
}

.inputFoot2 input {
    border: none;
    width: 310px;
    height: 48px;
    background: rgba(145, 158, 171, 0.08);
    border-radius: 8px;
    padding-left: 10px;
}

.flexFoot {
    display: flex;
    align-items: center;
    margin-top: 82px;
}

.contact div {
    margin-bottom: -20px;
    margin-top: -40px;
}


.contact {
    margin-top: -70px;
}

.flexFinal {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
}

.flexFinal p {
    cursor: pointer;
}

.footWrapper {
    margin-top: 125px;
}

@media (max-width: 768px) {
    .flexFoot {
        display: block;
    }

    .flexFoot>div>div {
        text-align: center;
        width: 100%;
    }

    .leftSocial {
        display: block;
        width: 100%;
    }

    .leftSocial p {
        width: 90%;
        margin-bottom: 20px;
        margin-top: 25px;
        margin-left: 5%;
    }

    .contact {
        margin-top: 30px;
        ;
    }

    .contact div {
        display: flex;
        width: 50%;
        margin: 0 auto;
        margin-top: -30px;
    }

    .contact div img {
        margin-right: -20px;

    }

    .contact div p {
        margin-left: -40px;
    }

    .inputFoot2 {
        width: 110%;
        margin-left: -6%;
        margin-bottom: 25px;
    }
    .socials{
        width: 100%;
        margin-left: 32%;margin-bottom: 40px;

    }

    .flexFinal {
        display: block;
    }

    .flexFinal div {

        display: flex;
        width: 75%;
        margin: 0 auto;
    }

    .flexFinal p {
        margin-bottom: 20px;
    }

    .wrapper {
        display: block;
        width: 100%;
        height: 375px;
        background-position: right bottom;
    }

    .wrapper img {
        margin-top: 64px;
    }

    .wrapper h3 {
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        margin-top: 23px;
    }
    .flexFinal{
        padding-bottom: 24px;
    }

    .wrapper p {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 24px;
    }

    .inputFoot input {
        width: 50%;
        margin-left: -31%;
    }

    .container2 {
        width: 100%;
        display: block;
    }

    .leftFoot {
        width: 100%;
    }

    .leftFoot h1 {
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        padding: 0;
        width: 100%;
        margin-top: 80px;
        
    }
    .container{
        background-position: center; 
        height: 800px;   
    }
    .leftFoot a{
        width: 95%;
        margin-left: 5%;
        
    }
    .leftFoot a p{
        margin: 0;

    }
    #id{
        margin-left: 25%;
        margin-bottom: 22px;
    }
    .rightFoot{
        margin-top: 40px;
        margin-left: 0;
        width: 100%;
    }
    .rightFoot input{
        width: 100%;
        text-align: start;

    }
    .rightFoot button{
        margin-left: 24%;
    }


}