.Meet {
  display: flex;
  width: 100%;
  height: 752px;
  background-image: url(./images/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.Team {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #919eab;
}

.left h1 {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
  padding-top: 30px;
  margin-bottom: 16px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin-top: 200px;
  margin-left: 144px;
  height: 84px;
}

.leftbtn {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid rgba(250, 84, 28, 0.24);
  background-color: #212b36;
  cursor: pointer;
}

.rightbtn {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid rgba(250, 84, 28, 0.24);
  background-color: #212b36;
  cursor: pointer;
}

.Right {
  display: flex;
  padding-top: 160px;
  width: 50%;
  text-align: center;
  margin-left: 122px;
  grid-gap: 100px;
}

.Flexing {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ThreeImg,
.SecondImg,
.firstImg {
  border-radius: 18px;
}

.CardOne h1 {
  padding-top: 20px;
  width: 100%;
  height: 28px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}

.CardOne p {
  padding-top: 13px;
  color: #919eab;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.CardTwo h1 {
  padding-top: 20px;
  width: 100%;
  height: 28px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}

.CardTwo p {
  padding-top: 13px;
  color: #919eab;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.CardThree h1 {
  padding-top: 20px;
  width: 82%;
  height: 28px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}

.CardThree p {
  width: 86%;
  padding-top: 13px;
  color: #919eab;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.info p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 24px;
  width: 80%;
}

.text {
  display: flex;
}

.ForCarosel,
.ForCarosel2,
.ForCarosel3 {
  display: flex;
  gap: 32px;
}

.CardOne2 {
  margin-left: 60%;
}

.CardOne2 h1 {
  padding-top: 20px;
  width: 100%;
  height: 28px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}

.CardOne2 p {
  padding-top: 13px;
  color: #919eab;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.customPrevButton {
  right: 175%;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid rgba(250, 84, 28, 0.24);
  background-color: #212b36;
  cursor: pointer;
}

.customNextButton {
  right: 171%;
  position: absolute;
  width: 40px;
  height: 39px;
  border-radius: 50px;
  border: 1px solid rgba(250, 84, 28, 0.24);
  cursor: pointer;
  margin-right: -20px;
}

.sliderButton {
  position: absolute;
  height: 10px;
  top: 80%;
  transform: translateY(-50%);
  height: 39px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 2;
  border-radius: 50px;
  background-color: #212b36;
  border: 1px solid rgba(250, 84, 28, 0.24);
  cursor: pointer;
}
.dots{
  display: none;
}

@media (max-width: 768px) {
  .sliderButton {
    display: none;
  }
  .dots{
    display: flex;
    justify-content: center;
    grid-gap: 10px;
    margin-top: 45px;
  }

  .Meet {
    padding-top: 80px;
    display: block;
    height: 1100px;
  }

  .left {
    width: 100%;
    margin: 0;
  }

  .left>h1 {
    font-weight: 700;
    margin-top: -10px;
    margin-bottom: -5px;
    font-size: 32px;
    line-height: 42px;
    color: #FA541C;
  }

  .Right {

    width: 100%;
    margin: 0;
  }

  .CardTwo,
  .CardThree {
    display: none;

  }

  .CardOne img {
    margin-top: 64px;
    width: 90%;
  }

  .ForCarosel {
    display: block;
  }

  #n2 {
    width: 140%;
    margin-left: 7%;
  }

  #n3 {
    width: 140%;
    margin-left: 7%;
  }

  .CardOne h1 {
    text-align: center;
  }

  #n2+h1,
  #n3+h1 {
    margin-left: 28%;
  }

  .CardOne p {
    margin-top: 8px;
    text-align: center;
  }

  #p1 {
    margin: 0;
  }



}