.container{
  width: 90%;
  margin: 0 auto;
}
.Services {
  /* padding: 120px 144px 80px; */
  gap: 40px;
  margin-top: 40px;
}

.serv {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #919EAB;
  margin-bottom: 16px;
}

.prov {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #212B36;
  margin-bottom: 24px;
  margin-top: 16px;
}

.p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #637381;
}
