h1 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}
#h1{
  margin-bottom: 80px;
  margin-left: 10%;
}
.LatePosts {
  display: flex;
  padding-left: 150px;
  padding-top: 80px;
  gap: 32px;
}

.FirstPost {
  padding-left: 40px;
  width: 357px;
  height: 482px;
  border-radius: 16px;
  background: #ffffff;
  padding-top: 40px;
  box-shadow: -12px 12px 48px -4px rgba(145, 158, 171, 0.12);
}

.Date {
  font-family: 'Poppins', sans-serif;
  display: flex;
  padding-bottom: 16px;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.Date p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #919EAB;
}

.AnyMechanical h1 {
  width: 276px;
  height: 72px;
  color: #212b36;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  align-items: center;
}

.Bottom {
  display: flex;
  align-items: center;
  margin-top: 261px;
}

.Bottom p {
  padding-left: 8px;
  width: 116px;
  font-size: 14px;
  line-height: 26px;
  color: #212b36;
  font-weight: 400;
  height: 26px;
}

.SecondPost {
  padding-left: 40px;
  width: 357px;
  height: 482px;
  border-radius: 16px;
  background-image: url(./images/IMG.jpg);
  background-repeat: none;
  background-size: cover;
  border-image-repeat: none;
  padding-top: 40px;
  box-shadow: -12px 12px 48px -4px rgba(145, 158, 171, 0.12);
}

.Cruz {
  display: flex;
  align-items: center;
  margin-top: 261px;
}

.Design h1 {
  width: 276px;
  height: 72px;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  align-items: center;
}

.Cruz p {
  padding-left: 8px;
  width: 116px;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  height: 26px;
}

.customPrevButton {
  left: 5%;
  position: absolute;
  
}

.customNextButton {
  right: 5%;
}

.sliderButton {
  position: absolute;

  top: 45%;
  transform: translateY(-50%);

  height: 50px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 2;
}

.MainLatePost>div {
  width: 100%;
}
.MainLatePost{
  margin-top: -50px;
  margin-bottom: 190px;
}
.FirstPost{
  margin-bottom: 0px;
}
.LatePosts a {
  text-decoration: none;
}
.LatePosts{
  margin-bottom:50px;
}
@media (max-width: 768px) {
  .sliderButton {
    display: none;
  }

  .MainLatePost>div>h2 {
    width: 100%;
    padding-left: 0;
    font-family: 'Barlow', sans-serif;
    margin: 64px 0;
  }

  .MainLatePost {
    height: 650px;
  }

  .LatePosts {
    padding: 0;
    margin-left: 5%;
    width: 100%;
    grid-gap: 37px;
  }

  .FirstPost {
    padding-right: 35px;
    margin-bottom: 70px;
  }

  .SecondPost {
    display: none;
  }

  .Date {
    width: 70%;
    grid-gap: 0px;
    margin-left: -20px;
  }

  .AnyMechanical h1 {
    text-align: start;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
  }
  #h1{
    margin-left: 0;
  }

}